appdirs
astroid
attrs
black
cfgv
click
colorama
distlib
filelock
flake8
Flask
Flask-SQLAlchemy
identify
importlib-metadata
isort
itsdangerous
Jinja2
lazy-object-proxy
lxml
MarkupSafe
mccabe
nodeenv
pathspec>=0.11.1
pycodestyle
pyflakes
pylint
PyMySQL
python-dotenv
PyYAML.8
six
SQLAlchemy
toml
typed-ast
virtualenv
Werkzeug
wrapt
zipp
